.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: grey;
  }

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.login {
    float: right;
}