<!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
        <label for="username">Username:</label>
    </form>
</div> -->
<section class="login-container">
    <h2>Sign In to Expense-Tracker</h2>
    <div>{{errorMessage}}</div>
    <form [formGroup]="loginForm" (submit)="login()">
        <input id="email" type="email" formControlName="email" title="username" placeholder="username" />
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <small>Please enter a valid email</small>
        }
        <input id="password" type="password" formControlName="password" placeholder="password"/>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
            <small>Password must be at least 6 characters</small>
            }
        <button class="submit" type="submit" [disabled]="!loginForm.valid">Login</button>
        <!-- <p><a routerLink="forgot-password">Forgot Password</a></p> -->
        <p>New to Expense Tracker? <a routerLink="signup">Signup</a></p>
    </form>
    <footer>Powered by Firebase and Angular</footer>
</section>
